/* FONT */
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("assets/fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans Bold";
  src: local("PT Sans Bold"),
    url("assets/fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"),
    url("assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

.font-caption {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 2em;
}

.title-header {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 2.5em;
}

.form-label {
  font-family: "PT Sans Bold";
}

/* RESPONSIVE STYLINGS */
@media (orientation: portrait) {
  .home-greeting {
    padding-top: 50px;
    text-align: center;
  }

  .projects-row-soon {
    text-align: center;
  }
}

.one-page {
  padding-top: 50px;
}

/* LINK */
.nav-item:hover {
  font-weight: bold;
}

.nav-item a.active {
  font-weight: bold;
}
