/* FONT */
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("assets/fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"),
    url("assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

body {
  padding-top: 50px; /* Avoiding content overlapping with navbar */
  font-family: "PT Sans";
}

/* RESPONSIVE STYLINGS */
@media (orientation: portrait) {
  .centering-portrait {
    text-align: center;
  }
}
