/* stylesheet.scss */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/* Your customizations here */

$theme-colors: (
  primary: #96b6b4,
  secondary: #45483c,
  dark: #000000,
);

@import "bootstrap";
